# ---------- PyTorch CUDA 12.1 wheels ----------
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchaudio

# ---------- main libs ----------
whisperx
pyannote.audio
speechbrain>=1.0.0
ctranslate2

# ---------- speechbrain dependencies ----------
sentencepiece

# ---------- utilities ----------
pydub
numpy<2.0
scipy
librosa
huggingface-hub
runpod
cryptography
python-dotenv
